body {
  padding-top: 20px;
  padding-bottom: 20px
}

.navbar {
  margin-bottom: 20px
}

.jumbotron {
  padding: 0px !important
}

.shelterinfo {
  padding: 20px
}

form.form-inline {
    display: inline;
}